
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

img {
  width: 100%;
  border: 5px solid white;
}